.home-img {
    background: url('../../assets/images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.appointment-bg, .home-form {
    background: url('../../assets/images/appointment.png');
    background-repeat: no-repeat;
    background-size: cover;
}
